.advantages {
    padding-top: 80px;

    &__title {
        h2 {
            font-weight: bolder;
        }
    }
    h4 {
        color: #585858 !important;
    }
    p {
        color: #868686 !important;
    }
}